/* Selector de etiqueta */
/* digo que todo lo del cuerpo tiene una determinada tipografia */
body{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
} 

header{
    background-color: #ddd;
    line-height: 2;
    text-align: center;
    color: #00264d;
    font-family: Cambria, Times, serif;
}

section{
    margin-top: 30px;
}

main{
    margin: 50px auto;
    max-width: 800px;           
}

footer{
    background-color: #1f497d;
    color: #ddd;
    font-size: 24px;
    text-align: center;
}

h1,h2{
    background-color: #bfbfbf;
    letter-spacing: 0.5em;
    font-family: Cambria, Times, serif;
    text-transform: uppercase;
}

h1{
    color: #1f497d;
    font-size: 24px; 
    word-spacing: 1.5em;
}

h3{
    color: blue;
}

h2{
    color: #632423;
    font-family: Cambria, Times, serif;
    font-size: 18px;
}

li {
    font-style: normal;
    font-variant: small-caps;
}

/* Selector de clase */
.item-detail{
    font-weight: bold;
    font-style: italic;
}

.img-link{
    height: 20px;
    width: 20px;
}



        